/* RESET CSS */

* {margin: 0; padding: 0;}
body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {vertical-align: baseline; margin: 0; padding: 0; border: 0; outline: 0; background: transparent; font-size: 100%;}
body, input, select, textarea, button {font-family: 'Noto Sans KR','sans-serif','Apple SD Gothic Neo','malgun gothic','맑은 고딕','돋움','dotum';}
article, aside, hgroup, header, footer, figure, figcaption, nav, section,time, mark, canvas, video, audio, details, summary {display: block;}
ul {list-style: none;}
span {display: block;}
address {font-style: normal;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content: none;}
a {vertical-align: baseline; margin: 0; padding: 0; background: transparent; text-decoration: none; color: inherit;}
b, strong, h1, h2, h3, h4, h5, h6 {font-weight: 700;}
ins {background-color: #ff9; text-decoration: none; color: #000;}
mark {background-color: #ff9; font-style: italic; font-weight: bold; color: #000;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted; cursor: help;}
table {table-layout: fixed; border-collapse: collapse; border-spacing: 0;}
hr {display: block; height: 0; margin: 0; padding: 0; border: 0;}
input, select, textarea, button {vertical-align: middle; margin: 0; padding: 0; font: inherit; letter-spacing: inherit; color: inherit;}
input[type=text],input[type=password],input[type=url],textarea,input[type=submit] {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
input::-ms-clear {display: none;}
button {border: 0; background: transparent; cursor: pointer;}
img {width: 100%;}
